:root {
  --so-bg-pos-toggle-size: 15px;
  --so-bg-pos-border-color: #333;
  --so-bg-pos-bg-color: #0073aa;
  --so-bg-pos-bg-color--selected: #0073aa50;
  --so-bg-pos-bg-color--hover: #fff;
}

.so-bg-image__wrapper > .fieldset__wrapper {
  display: flex;
  & > * {
    margin: 0 0 0 3em;
    &:first-child {
      margin-left: 0;
    }
  }
  & .fieldset__legend {
    font-weight: normal;
  }
  & .fieldset__label {
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 1em;
  }
  & .media-library-form-element {
    border: none;
    padding: 0;
    & .fieldset__label {
      padding: 0;
    }
    & .media-library-form-element-empty-text {
      display: none;
    }
    & .description {
      display: none;
    }
    & .media-library-item--grid {
      width: 100%;
    }
  }
}

/* Background position */
.so-bg-image__position {

  & .form-radios {
    width: 100px;
    outline: 1px dotted var(--so-bg-pos-border-color);
    position: relative;
    display: flex;
    margin: 1em .5em .5em .5em;
    aspect-ratio: 1;
    & > div {
      margin: 0;
    }
    & input {
      /* Hide the radio buttons */
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;

      & ~ label {
        position: absolute;
        background-color: var(--so-bg-pos-bg-color);
        outline: 2px solid var(--so-bg-pos-bg-color);
        width: var(--so-bg-pos-toggle-size);
        height: var(--so-bg-pos-toggle-size);
        font-size: 0;
        cursor: pointer;
        margin: 0;

        transform: perspective(1px) translateZ(0);
        transition-duration: 0.5s;

        &:hover {
          background-color: var(--so-bg-pos-bg-color--hover);
          animation: hover-pop 0.3s linear 1;
        }
      }

      &:checked + label,
      &:checked + label:hover {
        background-color: var(--so-bg-pos-bg-color--selected);
      }

      /* Left side */
      &[value='left top'] ~ label {
        left: calc(-15px / 2);
        top: calc(-15px / 2);
      }

      &[value='left center'] ~ label {
        left: calc(-15px / 2);
        top: calc(50% - calc(15px / 2));
      }

      &[value='left bottom'] ~ label {
        left: calc(-15px / 2);
        bottom: calc(-15px / 2);
      }

      /* Center */
      &[value='center top'] ~ label {
        left: calc(50% - calc(15px / 2));
        top: calc(-15px / 2);
      }

      &[value='center'] ~ label {
        left: calc(50% - calc(15px / 2));
        top: calc(50% - calc(15px / 2));
      }

      &[value='center bottom'] ~ label {
        left: calc(50% - calc(15px / 2));
        bottom: calc(-15px / 2);
      }

      /* Right */
      &[value='right top'] ~ label {
        right: calc(-15px / 2);
        top: calc(-15px / 2);
      }

      &[value='right center'] ~ label {
        right: calc(-15px / 2);
        top: calc(50% - calc(15px / 2));
      }

      &[value='right bottom'] ~ label {
        right: calc(-15px / 2);
        bottom: calc(-15px / 2);
      }
    }
  }
}
