:root {
  --so-bg-pos-toggle-size: 15px;
  --so-box_input_hover_border: #ccc;
  --so-panel_link_color: #0073aa;
  --so-box_input_bg: #fff;
  --so-panel_bg_color: #0073aa;
  --so-box_input_bg_checked: #0073aa;
  --so-panel_text_color: #fff;
}

.so-bg-image__wrapper .fieldset__wrapper {
  display: flex;
  & > * {
    margin: 0 0 0 1em;
    &:first-child {
      margin-left: 0;
    }
    flex: 1 1 0px;
  }
  & .fieldset__legend {
    font-weight: normal;
  }
  & .fieldset__label {
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 1em;
  }
  & .media-library-form-element {
    border: none;
    padding: 0;
    & .fieldset__label {
      padding: 0;
    }
    & .media-library-form-element-empty-text {
      display: none;
    }
    & .description {
      display: none;
    }
    & .media-library-item--grid {
      width: 100%;
    }
  }
}

/* Background position */
.so-bg-image__position {

  & .form-radios {
    border: 1px solid var(--so-box_input_hover_border);
    height: 70px;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 50%;
    margin-top: 4px;

    & > div {
      margin: 0;
    }

    & input {
      /* Hide the radio buttons */
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;

      &:checked + label,
      &:checked + label:hover {
        background-color: var(--so-panel_link_color);
        border: 1px solid var(--so-box_input_bg);
        box-shadow: inset 0 0 0 2px var(--so-panel_bg_color);
        transform: scale(1.2);
      }

      &~ label {
        position: absolute;
        background-color: var(--so-box_input_bg_checked);
        border: 2px solid var(--so-panel_bg_color);
        border-radius: 50%;
        width: var(--so-bg-pos-toggle-size);
        height: var(--so-bg-pos-toggle-size);
        font-size: 0;
        cursor: pointer;
        margin: 0;

        transform: perspective(1px) translateZ(0);
        transition-duration: 0.5s;

        &:hover {
          background-color: var(--so-panel_text_color);
          animation: hover-pop 0.3s linear 1;
        }
      }

      /* Left side */
      &[value='left top'] ~ label {
        left: calc(-15px / 2);
        top: calc(-15px / 2);
      }

      &[value='left center'] ~ label {
        left: calc(-15px / 2);
        top: calc(50% - calc(15px / 2));
      }

      &[value='left bottom'] ~ label {
        left: calc(-15px / 2);
        bottom: calc(-15px / 2);
      }

      /* Center */
      &[value='center top'] ~ label {
        left: calc(50% - calc(15px / 2));
        top: calc(-15px / 2);
      }

      &[value='center'] ~ label {
        left: calc(50% - calc(15px / 2));
        top: calc(50% - calc(15px / 2));
      }

      &[value='center bottom'] ~ label {
        left: calc(50% - calc(15px / 2));
        bottom: calc(-15px / 2);
      }

      /* Right */
      &[value='right top'] ~ label {
        right: calc(-15px / 2);
        top: calc(-15px / 2);
      }

      &[value='right center'] ~ label {
        right: calc(-15px / 2);
        top: calc(50% - calc(15px / 2));
      }

      &[value='right bottom'] ~ label {
        right: calc(-15px / 2);
        bottom: calc(-15px / 2);
      }
    }
  }
}
